; These are the default parameters for the Covid-19 simulations

; Dimensions: x y z (assuming grid spacing of 5 microns
  dim =                         3000 3000 1

; Number of timesteps (assuming 1 min per timestep)
; This is for 14 days
  timesteps =                   20160

; Number of starting infections
  infections =                  1

; Location of initial infection at time step 0
  infection-coords =            1499,1499,0,0

; Number of virions at initial infection locations
; Chosen to guarantee that at least one cell is infected at the start - see infectivity
  initial-infection =           1000

; Number of grid points to space out infectable cells
  infectable-spacing =          1

; Average number of time steps to expressing virions after cell is infected
  incubation-period =           480

; Average number of time steps to death after apoptosis is induced
  apoptosis-period =            180

; Average number of time steps to death after a cell starts expresssing
  expressing-period =           2286

; Factor multiplied by number of virions to determine probability of infection
  infectivity =                 0.02

; Number of virions produced by expressing cell each time step
  virion-production =           35

; Fraction by which virion count drops each time step
  virion-decay =                0.002

; Fraction of virions that diffuse into all neighbors each time step
  virion-diffusion =            1

; Amount of chemokine produced by expressing cells each time step
  chemokine-production =        0.5

; Amount by which chemokine concentration drops each time step
  chemokine-decay =             0.02

; Fraction of chemokine concentration that diffuses into all neighbors each time step
  chemokine-diffusion =         0.5

; Minimum chemokine concentration that triggers a T cell
  min-chemokine =               1e-6

; Impact of antibodies; multiplier for virion decay (setting to 1 means this has no effect)
  antibody-factor =             1

; Number of time steps before antibodies start to be produced 
  antibody-period =             5760

; Number of tcells generated at each timestep
; *** WE DON'T KNOW THIS YET - using the value from cycells
  tcell-generation-rate =       10

; Number of time steps before T cells start to be produced
  tcell-initial-delay =         10080

; Average number of time steps to death for a T cell in the vasculature
  tcell-vascular-period =       5760

; Average number of time steps to death after a T cell extravasates
  tcell-tissue-period =         1440

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
  tcell-binding-period =        10

; Max probability of a T cell binding to an infected cell in one time step
  max-binding-prob =            1

; T cells in tissue follow the chemokine gradient
  tcells-follow-gradient =      false

; Random seed
  seed =                        29

; Number of timesteps between samples (set to 0 to disable sampling)
  sample-period =               0

; Resolution for sampling
  sample-resolution =           1

; Minimum number of blocks per process - impacts performance (locality v load balance)
  min-blocks-per-proc =         16

; Output directory (automatically generated)
;  output =                      covid-test
