; These are the default parameters for the Covid-19 simulations

; Dimensions: x y z (assuming grid spacing of 5 microns)
dim =                         15000 15000 1

; Whole lung dimensions: x y z (assuming grid spacing of 5 microns)
whole-lung-dim =              48000 40000 20000

; Number of timesteps (assuming 1 min per timestep)
; This is for 23 days - matches fairly well with patient C in the paper
timesteps =                   33120

; Location of initial infections (omit for no infections); can be:
;  list of space-separated coords x,y,z,timestep
;  uniform:N (where N is an int, for N uniformly distributed starting points at time 0)
;  random:N (where N is an int, for N randomly distributed starting points at time 0)
infection-coords =            uniform:1

; Number of virions at initial infection locations
; Chosen to guarantee that at least one cell is infected at the start - see infectivity
initial-infection =           1000

; Average number of time steps to expressing virions after cell is infected
incubation-period =           480

; Average number of time steps to death after apoptosis is induced
apoptosis-period =            180

; Average number of time steps to death after a cell starts expresssing
expressing-period =           900

; Factor multiplied by number of virions to determine probability of infection
infectivity =                 0.001

; Multiplier reducing infectivity where inflammatory signal is present
; (the multiplier reducing infectivity should be between 0.9 and 0.7 based on values
; in literature demonstrating a reduction of cell death in vitro with IFN)
infectivity-multiplier =      1.0

; Number of virions produced by expressing cell each time step
virion-production =           1.1

; Multiplier reducing virion production rate where inflammatory signal is present
; (the reduction should be represented by a multiplier betweeon 0.05 and 0.15)
virion-production-multiplier = 1.0

; Fraction by which virion count drops each time step
virion-clearance =            0.004

; Fraction of virions that diffuse into all neighbors each time step
virion-diffusion =            0.15

; Amount of chemokine produced by expressing cells each time step
chemokine-production =        1.0

; Amount by which chemokine concentration drops each time step
chemokine-decay =             0.01

; Fraction of chemokine concentration that diffuses into all neighbors each time step
chemokine-diffusion =         1.0

; Minimum chemokine concentration that triggers a T cell
min-chemokine =               1e-6

; Impact of antibodies; multiplier for virion decay (setting to 1 means this has no effect)
antibody-factor =             1

; Number of time steps before antibodies start to be produced
antibody-period =             5760

; Number of tcells generated at each timestep for the whole lung
; This is scaled up 5000x from the mouse model (20 per minute)
tcell-generation-rate =       105000

; Number of time steps before T cells start to be produced
tcell-initial-delay =         10080

; Average number of time steps to death for a T cell in the vasculature
tcell-vascular-period =       5760

; Average number of time steps to death after a T cell extravasates
tcell-tissue-period =         1440

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
tcell-binding-period =        10

; Max probability of a T cell binding to an infected cell in one time step
max-binding-prob =            1

; T cells in tissue follow the chemokine gradient
tcells-follow-gradient =      false

; Random seed
seed =                        29

; Number of timesteps between samples (set to 0 to disable sampling)
sample-period =               0

; Resolution for sampling
sample-resolution =           1

; Max. block dimension - larger means more locality but worse load balance. Set to 0 for largest possible.
max-block-dim =               10

; Output directory (automatically generated)
;  output =                      results
