; Dimensions: x y z
  dim =                         640 640 1

; Number of timesteps
  timesteps =                   28800

; Number of starting infections
  infections =                  1

; Location of initial infection
  infection-coords =            319 319 0

; Number of time steps to expressing virus after cell is infected (average:stddev)
  incubation-period =           600 60

; Number of time steps to death after apoptosis is induced (average:stddev)
  apoptosis-period =            600 60

; Number of time steps to death after a cell is infected (average:stddev)
  infected-period =             1600 160

; Probability of virus spreading to a neighbor
  infection-prob =              1.0

; Amount by which virus concentration drops each time step
  virus-decay =                 0.14

; Fraction of virus concentration that diffuses into neighbors each time step
  virus-diffusion =             1

; Amount by which chemokine concentration drops each time step
  chemokine-decay =             0.023

; Amount by which inflamattory cytokine concentration drops each time step
  icytokine-decay =             0.023

; Fraction of chemokine concentration that diffuses into all neighbors each time step
  chemokine-diffusion =         0.5

; Fraction of inflammatory cytokine concentration that diffuses into all neighbors each time step
  icytokine-diffusion =         0.5

; Number of tcells generated at each timestep
  tcell-generation-rate =       2

; Number of time steps before t-cells start to be produced
  tcell-initial-delay =         7200

; Number of time steps to death for a t-cell in the vasculature (average:stddev) 5760 576
  tcell-vascular-period =       5760 576

; Number of time steps to death after a t-cell extravasates (average:stddev)
  tcell-tissue-period =         120 12

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
  tcell-binding-period =        30

; Random seed
  seed =                        753695190

; Number of timesteps between samples
  sample-period =               50

; Resolution for sampling
  sample-resolution =           1

; Output directory
  output =                      cycells-test

