; Dimensions: x y z
  dim =                         1200 1200 1

; Number of timesteps
  timesteps =                   14400

; Number of starting infections
  infections =                  1

; Location of initial infection
; levin: initially no infection, but initial infection level is 10,000 PFUs
;        so given a probability of infection of 0.008/min, we can expect 83 infections to start
  infection-coords =            599,599,0,0

; Number of virions at initial infection locations (plus one infected cell)
  initial-infection =           1000

; Number of grid points to space out infectable cells - only in fixed_blocks branch
  infectable-spacing =          2

; Number of time steps to expressing virus after cell is infected (average:stddev)
; cycells: 10hrs
; levin: 10hrs
  incubation-period =           600

; Number of time steps to death after apoptosis is induced (average:stddev)
; cycells: 10hrs (!)
; levin: 1hr
  apoptosis-period =            60

; Number of time steps to death after a cell is infected (average:stddev)
; cycells: 27hrs
; levin (incubation 10hrs, expression time 1000 mins): 10+17=27hrs 
  expressing-period =           1000

; Factor multiplied by number of virions to determine probability of infection
; Levin: 120 mins, which is the expected time for infection in presence of single virion, so the prob is 0.008/min
; cycells: probability 1.45e+11 x concentration
  infectivity =                 0.0001

; Number of virions produced by expressing cell each time step
; cycells: 0.00038/s (0.0023/min)
; levin (in PFUs/cell - plaque forming units):
;   seasonal 0.00038/s, pandemic 0.005111/s
  virion-production =            55

; Fraction by which virion count drops each time step
; cycells: 0.0023/s (0.13/min)
; levin: 1/day = 1.2e-5 (according to the paper, "chemokine molecules decay more quickly than the virus")
  virion-decay =                 0.002

; Fraction of virions that diffuse into neighbors each time step
; cycells: 0.65um^2/s (38um^2/min = 8 grid points = 1 in any direction)
; levin: 0.032um^2/s
  virion-diffusion =             0.5

; Amount of chemokine produced by expressing cells each time step
; cycells: 8.9e-7/s (0.00005/min)
; levin (pg/s/cell - chemokines here correspond to RANTES):
;   seasonal 8.9e-7
;   pandemic 4.3e-6
  chemokine-production =        0.5
  
; Amount by which chemokine concentration drops each time step
; cycells: 0.00039/s (0.023/min)
; levin: 0.00038/s
  chemokine-decay =             0.1

; Fraction of chemokine concentration that diffuses into all neighbors each time step 
; cycells: 0.32um^2/s (19.2/min)
; levin: 0.32um^2/s
  chemokine-diffusion =         0.01

; Impact of antibodies; multiplier for virus decay (10)
; cycells: 10
; levin: 10
  antibody-factor =             15

; Number of time steps before antibodies start to be produced
; cycells: 5760
; levin: 5760
  antibody-period =             5760
  
; Number of tcells generated at each timestep
; cycells: 1257/hr (21/min)
; levin: 1257/hr
  tcell-generation-rate =       21

; Number of time steps before t-cells start to be produced
; cycells: 5 days
; levin: 5 days
  tcell-initial-delay =         7200

; Number of time steps to death for a t-cell in the vasculature (average:stddev)
; cycells: 4 days
; levin: 4 days
  tcell-vascular-period =       5760

; Number of time steps to death after a t-cell extravasates (average:stddev)
; cycells: 2hrs
; levin: 2 hrs
  tcell-tissue-period =         120

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
; cycells: 10 mins
; levin: 10 mins
  tcell-binding-period =        10

; Max probability of a T cell binding to an infected cell in one time step
  max-binding-prob =            0.05
  
; Random seed
  seed =                        753695190

; Number of timesteps between samples
  sample-period =               1440

; Resolution for sampling
  sample-resolution =           1

; Output directory
  output =                      cycells-test

