; Dimensions: x y z
  dim =                         100 100 1

; Number of timesteps
  timesteps =                   2000

; Number of starting infections
  infections =                  1

; Location of initial infection
  infection-coords =            49 49 0

; Number of virions at initial infection locations
  initial-infection =           1000

; Number of grid points to space out infectable cells
  infectable-spacing =          1

; Number of time steps to expressing virions after cell is infected (average:stddev)
  incubation-period =           100

; Number of time steps to death after apoptosis is induced (average:stddev)
  apoptosis-period =            30

; Number of time steps to death after a cell is infected (average:stddev)
  expressing-period =           100

; Factor multiplied by number of virions to determine probability of infection
  infectivity =                 0.0001

; Number of virions produced by expressing cell each time step
  virion-production =           100

; Fraction by which virion count drops each time step
  virion-decay =                0.1

; Fraction of virions that diffuse into all neighbors each time step
  virion-diffusion =            0.5

; Amount of chemokine produced by expressing cells each time step
  chemokine-production =        0.5

; Amount by which chemokine concentration drops each time step
  chemokine-decay =             0.01

; Fraction of chemokine concentration that diffuses into all neighbors each time step
  chemokine-diffusion =         0.2

; Minimum chemokine concentration that triggers a T cell
  min-chemokine =               0.001

; Impact of antibodies; multiplier for virion decay
  antibody-factor =             1

; Number of time steps before antibodies start to be produced
  antibody-period =             5760

; Number of tcells generated at each timestep
  tcell-generation-rate =       5

; Number of time steps before T cells start to be produced
  tcell-initial-delay =         1000

; Number of time steps to death for a T cell in the vasculature (average:stddev)
  tcell-vascular-period =       600

; Number of time steps to death after a T cell extravasates (average:stddev)
  tcell-tissue-period =         60

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
  tcell-binding-period =        5

; Max probability of a T cell binding to an infected cell in one time step
  max-binding-prob =            0.1

; T cells in tissue follow the chemokine gradient
  tcells-follow-gradient =      false

; Random seed
  seed =                        753695190

; Number of timesteps between samples (set to 0 to disable sampling)
  sample-period =               1

; Resolution for sampling
  sample-resolution =           1

; Minimum number of blocks per process - impacts performance (locality v load balance)
  min-blocks-per-proc =         16

; Output directory
  output =                      small-test
